<ion-header class="sp-invoice-tabs">
    <div class="sp-invoice-tabs-wrapper">
        <ion-tab-button class="sp-invoice-tabs-button" [class.selected]="selected === 'NFCE'"
            (click)="tab.emit('NFCE')">
            <ion-label>NFC-e</ion-label>
        </ion-tab-button>
        <ion-tab-button class="sp-invoice-tabs-button" [class.selected]="selected === 'NFSE'"
            (click)="tab.emit('NFSE')">
            <ion-label>NFS-e</ion-label>
        </ion-tab-button>
    </div>
</ion-header>
