<ion-card class="sp-home-card">
    <ion-list>
        <!--<ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Fred</ion-text>
                    <ion-text class="item">Banho</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/check.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Lili</ion-text>
                    <ion-text class="item">Banho e Tosa</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/check.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Bolota</ion-text>
                    <ion-text class="item">Banho</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/check.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Chico</ion-text>
                    <ion-text class="item">Banho</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/close.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Fred</ion-text>
                    <ion-text class="item">Banho</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/check.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label class="sp-home-card-label">
                <div class="description">
                    <ion-text class="name">Lili</ion-text>
                    <ion-text class="item">Banho e Tosa</ion-text>
                </div>
            </ion-label>
            <ion-icon slot="end" src="assets/icon/check.svg"></ion-icon>
        </ion-item>-->
    </ion-list>
</ion-card>
