.sp-background {
    width: calc(100% + 40px);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background: var(--ion-color-primary);
    color: #ffffff;
    margin: -20px;
    padding: 14px;
}

.sp-background-child {
    width: calc(100% + 40px);
    display: inline-block;
    font-weight: bold;
    background: #ffffff;
    color: #222222;
    margin: -20px;
    padding: 14px;

    &.red {
        color: red;
    }
}

.sp-float-right {
    text-align: right;
}

.sp-editable {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}
