.sp-pet-card {
  --background: transparent;

  .sp-pet-avatar {
    width: 94px;
    height: 94px;
    border: 4px solid var(--ion-color-primary);
    margin-left: -16px;

    > .image {
      width: 86px;
      height: 86px;
      border-radius: 50%;
      background-size: cover !important;
    }
  }

  .sp-pet-name {
    font-size: 22px;
    color: var(--ion-color-primary);
  }

  .sp-pet-profile {
    font-size: 15px;
    color: #A2A2A2;
    cursor: pointer;
    text-decoration: underline;
  }
}
